In [1]:
import mysql.connector
import pandas as pd

In [14]:
connection=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='cric_sheet'
)

In [15]:
cursor=connection.cursor()

In [16]:
query1='''
select 
batsman,
count(*) as balls_faced,
sum(runs_batsman) as total_runs,
count(player_out) as times_out,
round(sum(runs_batsman)/nullif(count(player_out),0),2) as batting_average,
round(sum(runs_batsman)/count(*)*100,2) as strike_rate

from odi_match_deliveries
where batsman is not null
group by batsman
having balls_faced >=30
order by batting_average desc;
'''

df_batting_status=pd.read_sql(query1,con=connection)
print(df_batting_status.head())

C:\Users\tamiz\AppData\Local\Temp\ipykernel_11344\733205007.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_batting_status=pd.read_sql(query1,con=connection)

             batsman  balls_faced  total_runs  times_out batting_average  \
0  A Aitken-Drummond          114        78.0          0            None
1         A Athanaze          378       306.0          0            None
2            A Bagai          995       614.0          0            None
3        A Balbirnie         3557      2628.0          0            None
4            A Bosch          481       355.0          0            None

   strike_rate
0        68.42
1        80.95
2        61.71
3        73.88
4        73.80

In [17]:
query2='''
select batsman,
count(*) as balls_faced,
sum(runs_batsman) as total_runs,
round(sum(runs_batsman)/count(*),2) as avg_rns_per_ball,
round(sum(runs_batsman)/count(*)*100,2) as strike_rate

from odi_match_deliveries
where innings=2 and `over`>=16 and batsman is not null
group by batsman
having balls_faced >=15
order by strike_rate desc;
'''

df_pressure_perf=pd.read_sql(query2,con=connection)
print(df_pressure_perf.head())

C:\Users\tamiz\AppData\Local\Temp\ipykernel_11344\4094213639.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_pressure_perf=pd.read_sql(query2,con=connection)

          batsman  balls_faced  total_runs  avg_rns_per_ball  strike_rate
0  Rishad Hossain           18        48.0              2.67       266.67
1    R Telemachus           19        41.0              2.16       215.79
2       RR Watson           15        27.0              1.80       180.00
3    AAP Atkinson           36        63.0              1.75       175.00
4        FY Fazal           15        26.0              1.73       173.33